.results-table {
    width: 100%;
}

.event-type {
    background-color: rgb(95, 186, 214);
    padding: 5px;
}

.event-type-title {
    font-size: 1.5em;
    font-weight: bold;
}

.work-pattern {
    /*TODO: IN REAl CODE MOVE ALL COLORS TO VARIABLES */
    color: rgb(7, 115, 122)
}

.employee-name {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(5, 62, 66)
}